{{ partial "header.html" . }}

  <div class="container container-full">
    {{ partial "sidebar.html" . }}

    <div class="main page" id="scrollpane">
      {{ partial "topbar.html" . }}
      {{ partial "search.html" . }}

      <div class="row">
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-10 columns content-wrap changelog">
          <h2>{{ .Title }}</h2>

          <p>Our release notes for new features and updates to the Barricade service.</p>
          <ul id="list">
            {{ range .Data.Pages.ByDate.Reverse }}
            <li>
              <a href="../{{ .URL }}" class="link-{{ .Params.category }}">
                <span class="ripple">{{ .Title }} <span></span></span>
                <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="small-1 columns">&nbsp;</div>
      </div>
    </div>

    {{ partial "footer.html" . }}