{{ partial "header.html" . }}

  <div class="container container-full">
    {{ partial "sidebar.html" . }}

    <div class="main home" id="scrollpane">

      {{ partial "topbar.html" . }}
      {{ partial "search.html" . }}

      <div id="particles-js" class="home-intro-wrap"></div>

      <div class="row home-intro-wrap">
        <div class="small-12 columns">
          <h1 class="search-trigger">
            <a href="#help-prompt">
              What can we help you with?
              <i class="fa fa-chevron-right"></i>
            </a>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="large-1 column">&nbsp;</div>
        <div class="large-10 medium-12 column">

          <div class="row text-center">
            <div class="small-12 columns">
              <h3>Highlights</h3>
            </div>
          </div>
          <div class="row">
            <div class="large-6 medium-12 feature-box columns">
              <a href="getting-started/">
                <h4>Getting Started</h4>
                <p>Our guide to setting up an account and installing the Barricade Agent.</p>
              </a>
            </div>
            <div class="large-6 medium-12 feature-box columns">
              <a href="using-barricade/#slack-integration">
                <h4>Integrating with Slack</h4>
                <p>Get real-time security notifications for your team, on any device.</p>
              </a>
            </div>
            <div class="large-6 medium-12 feature-box columns">
              <a href="getting-started/#how-it-works-agent">
                <h4>How Barricade Works</h4>
                <p>What is an Agent? What does Barricade check for? Find out.</p>
              </a>
            </div>
            <div class="large-6 medium-12 feature-box columns">
              <a href="changelog/">
                <h4>Updates &amp; New Features</h4>
                <p>Our changelog showcases the latest releases from our team.</p>
              </a>
            </div>
          </div>

          <div class="row text-center" id="help-prompt">
            <div class="small-12 columns">
              <h3>Need Help?</h3>
              <p class="home-contact"><a href="" class="intercom-trigger">We're here to answer any questions you may have. &nbsp; &nbsp; <i class="fa fa-comment-o"></i></a></p>
            </div>
          </div>

        </div>
        <div class="large-1 column">&nbsp;</div>
      </div>
    </div>

    {{ partial "footer-home.html" . }}