.changelog.content-wrap {

  h2 {
    margin: 0.25em 0 0.425em;
    color: $dark1;
  }

  p {
    font-size: $scalex4;
    border-bottom: 2px solid $light1;
    margin: 0 0 2em;
    padding: 0 0 1em;
    color: $mid4;
  }

  ul#list {
    @include transition;
    list-style: none;
    margin: 1.5em 0 0 3em;

    li {
      background: transparent;
      padding: 0.15em 0;

      a,
      a:hover
      a:visited {
        cursor: text;
        color: $dark2;
        border-bottom: none;
        cursor: pointer;
        background: transparent;

        &:hover {
          color: $blue2 !important;
          background-color: lighten($light2, 3.5%);
        }
      }

      a {
        padding: 0.5em 1em 0.5em 1em;
        display: block;
        position: relative;

        &:before {
          background-color: $light3;
          display: block;
          content: "\f00c";
          width: 2em;
          height: 2.125em;
          position: absolute;
          left: -2.667em;
          top: 0.275em;
          font-family: "FontAwesome";
          color: white;
          text-align: center;
          line-height: 2;
          border-radius: 50%;
          border-bottom: 3px solid white;
        }

        span.date {
          position: absolute;
          right: 0;
          font-size: $scalex2;
          color: $mid1;
          width: 22.5%;
          text-align: right;
          padding-right: 2.5%;
        }

        &.link-site:before,
        &.link-website:before {
          background-color: lighten($yellow2, 5%);
          content: "\f0ac";
        }

        &.link-app:before {
          background-color: $green2;
          content: "\f109";
        }

        &.link-agent:before {
          background-color: lighten(desaturate($blue2, 20%), 30%);
          content: "\f1d8";
        }

        &.link-engine:before {
          background-color: $red2;
          content: "\f085";
        }

        &.link-billing:before {
          background-color: $green3;
          content: "\f155";
        }

        &.link-mobile:before {
          background-color: $yellow3;
          content: "\f10b";
        }

        &.link-cloud:before,
        &.link-infra:before {
          background-color: saturate($blue3, 25%);
          content: "\f0c2";
        }
      }
    }
  }
}
