
      <div class="styleguide-footer">
        <footer class="row">
          <div class="small-12 small-centered column">

            <div class="row">
              <div class="large-1 column">&nbsp;</div>
              <div class="large-8 medium-8 show-for-large-up column">
                <ul class="medium-3 large-2">
                  <li><strong><a class="footer-reveal">Product</a></strong></li>
                </ul>

                <ul class="medium-3 large-2">
                  <li><strong><a class="footer-reveal">Company</a></strong></li>
                </ul>

                <ul class="medium-3 large-2">
                  <li><strong><a class="footer-reveal">Resources</a></strong></li>
                </ul>

                <a class="footer-reveal fa fa-angle-up"></a>
              </div>

              <div class="large-3 medium-4 small-12 column">
                <p class="text-right clearfix">
                  <a href="http://barricade.io" title="Barricade - the security product modern companies have been waiting for">
                    <img src="{{ .Site.BaseURL }}src/img/logo-strip-white.svg" width="220px" class="pull-right">
                  </a>
                </p>
              </div>
            </div>

            <div class="row footer-extra">
              <div class="large-1 column">&nbsp;</div>
              <div class="large-8 medium-8 show-for-large-up column">
                <ul class="medium-3 large-2">
                  <li><a href="https://barricade.io/features.html" title="See how Barricade make security approachable">Features</a></li>
                  <li><a href="https://app.barricade.io/demo" title="Launch a Demo of Barricade">Launch Demo</a></li>
                  <li><a href="https://barricade.statuspage.io" title="Status">Status</a></li>
                  <li><a href="https://app.barricade.io/tac" title="Terms &amp; Conditions">Terms</a></li>
                </ul>

                <ul class="medium-3 large-2">
                  <li><a href="https://barricade.io/about.html" title="Who we are and what we do">About Us</a></li>
                  <li><a href="https://blog.barricade.io" title="Read our blog">Blog</a></li>
                  <li><a href="https://barricade.io/jobs.html" title="Interested in working at Barricade?">Jobs</a></li>
                  <li><a href="https://barricade.io/about.html#contact-info" title="Get in touch with our team">Contact</a></li>
                </ul>

                <ul class="medium-3 large-2">
                  <li><a href="https://docs.barricade.io" title="View our documentation">Documentation</a></li>
                  <li><a href="https://docs.barricade.io/hc/en-us/sections/201144088" title="Product Changelog">Product Changes</a></li>
                  <li><a href="https://styleguide.barricade.io" title="Visit the Barricade Style Guide">Style Guide</a></li>
                  <li><a href="mailto:support@barricade.io?subject=Support Issue" title="Get in touch with our support team">Support</a></li>
                </ul>
              </div>

              <div class="large-2 medium-4 small-12 column">
                <ul class="text-right inline-list sub-nav-social clearfix">
                  <li><a class="fa fa-twitter" href="https://twitter.com/barricadeio"></a></li>
                  <li><a class="fa fa-facebook" href="https://www.facebook.com/barricadeio"></a></li>
                  <li><a class="fa fa-linkedin" href="https://www.linkedin.com/company/barricade-io"></a></li>
                </ul>
              </div>

            </div>

          </div>
        </footer>
      </div>

    </div> <!-- /container-full-->

    <a class="exit-off-canvas"></a>

    </div> <!-- /inner-wrap -->
  </div> <!-- /off-canvas-wrap -->

  {{ partial "js.html" . }}
</body>
</html>