<aside>
  <a class="fa fa-search right search-icon search-trigger" title="Search this site"></a>

  <div id="searchOverlay">
    <span class="left prompt">Type to search:</span>
    <a class="fa fa-times right search-icon search-trigger" title="Click to exit search"></a>
    <div class="container">

      <div class="row">
        <div class="col-sm-12 columns" id="search-input-wrap">
          <input type="text" class="st-default-search-input"
            placeholder="Search...." autofocus="autofocus" autocorrect="off" autocapitalize="none" spellcheck="false" autocomplete="off">
        </div>
      </div>

      <div class="row" id="searchResults" class="results">
        <div class="col-sm-2 column">&nbsp;</div>
        <div class="col-sm-8 text-center column">

          <div class="st-search-container"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 columns">
          <span class="overlay-footer">Press <em>Esc</em> to close</span>
        </div>
      </div>

    </div>

    <div class="search-overlay-bg"></div>
  </div>
</aside>