<aside>
    <a class="fa fa-search right search-icon search-trigger" title="Search this site"></a>
    <div id="searchOverlay">
        <span class="left prompt">Type to search:</span>
        <a class="fa fa-times right search-icon search-trigger" title="Click to exit search"></a>
        <div class="container">
            <div id="search-input-wrap">
                <input type="text" id="search-input" class="st-default-search-input"
                       placeholder="Search...." autofocus="autofocus" autocorrect="off" autocapitalize="none"
                       spellcheck="false" autocomplete="off">
            </div>
            <div id="searchResults">
                <div class="st-search-container"></div>
            </div>
        </div>
        <div class="search-overlay-bg"></div>
    </div>
</aside>